#Open Notepad in Window VM
Copy and Paste

# Windows Event Logs

[WinEventLog://Application]
disabled = 0

[WinEventLog://System]
disabled = 0

[WinEventLog://Security]
disabled = 0

# PowerShell Logs

[WinEventLog://Windows PowerShell]
disabled = 0

[WinEventLog://Microsoft-Windows-PowerShell/Operational]
disabled = 0

# Sysmon Logs

[WinEventLog://Microsoft-Windows-Sysmon/Operational]
disabled = 0
renderXml = true

# Setup Logs

[WinEventLog://Setup]
disabled = 0

#Save file as input.config

#Go to File Folder
C:\Program Files\SplunkUniversalForwarder\etc\local

#Save File in this Folder
